.navlist {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
}

.navlogo {
    list-style: none;
    margin-right: auto;
    margin-left: 2rem;
    font-size: 24px;
    color: #F9faf8;
}

ul {
    list-style: none
}

.navitem a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 1rem;
}
body {
    font-family: 'Roboto', sans-serif;
}